

<div class="banner">
  <h1>Miss Cocktail</h1>
</div>

<div class="container">
  <div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: url()">
   <p id="cocktail-name"><%= link_to cocktail.name, cocktail_path(cocktail.id) %></p>
  </div>
  <% end %>
</div>
</div>

<%= link_to 'Add a new cocktail', new_cocktail_path %>
